/* the styles for the elements */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,500&family=Roboto&display=swap');

$color-white: #fff;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    // 1 rem = 10px
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    background-color: $color-white;
}

/* the styles for the slicknav menu crap*/
/* the styles for the header */


a.logo {
    display: block;
    margin: auto;
    background-color: $color-white;
    position: sticky;
    top: -2rem;    
    border-bottom: 0.2rem solid #10FFCD;

    img {
        max-width: 25rem;
        display: block;
        margin: auto;
    }
}

#mobile_menu {
    display: none;
}

#nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2rem solid #10FFCD;
    margin-bottom: 2rem;

    ul {
        list-style-type: none;
        padding: 0em 0;
        text-align: center;

        li {
            float: left;
            display: inline;
            padding: 0 1.5em;

            a {
                font-family: 'Roboto';
                font-size: medium;
                text-align: center;
                display: block;
                max-width: 15rem;
                padding: 0.5em 0;
                text-decoration: none;
                color: black;
                font-weight: bold;

                &.current {
                    color: #10FFCD;
                    border-bottom: 0.2rem solid #10FFCD;
                }

                &:hover {
                    border-bottom: 0.2rem solid #10FFCD;
                    padding: .5em 0;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 796px), screen and (max-width: 796px) {
    #nav_menu {
        display: none;
    }

    #mobile_menu {
        display: block;
        position: sticky;
        margin-top: -9rem;
        margin-bottom: 7rem;
        top: 0px; 
        right: 2rem;
        font-size: 1.2rem;

        ul {
            background-color: $color-white;
            margin-left: 20rem;
        }
    }

    a.logo {       
        img {
            max-width: 18rem;
            margin-left: 2rem;
        }
    }      
    
    main #aboutvicki img {
        margin: auto;
    }
}





/* the styles for the main content */
main {
    clear: left;
    width: 80vw;    
    margin: auto;

    /*this is for the home page grid items*/
    .home-whatislbhr {
        float: left;
        max-width: 20rem;
    }

    .blogpics {
        max-width: 50rem;
        width: 100%;
    }

    .centered {
        margin: auto;
        display: block;
    }

    #aboutvicki {
        padding: 2rem;
        border-radius: 0.5rem;

    }

    #aboutvicki img {
        max-width: 20rem;
        display: block;
        margin-right: 3rem;
        float: left;

        @media only screen and (max-device-width: 796px), screen and (max-width: 796px) {
            float: none;
            margin: auto;
        }
    }

    #aboutvicki ul li {
        list-style-position: inside;
    }

    #handshake img {
        max-width: 25rem;
        display: block;
        margin-left: 3rem;
        float: right;
    }

    #everyone img {
        max-width: 25rem;
        display: block;
        margin-right: 3rem;
        float: left;
    }


    #magnifyingglass img {
        max-width: 10rem;
        display: block;
        margin-right: 3rem;
        float: left;
    }

    #contactus img {
        max-width: 25rem;
        display: block;
        margin: auto;
    }

    #contactus {
        text-align: center;
    }

    h1 {
        font-size: 200%;
        color: black;
        margin: 0.5rem auto 0.5rem auto;
    }

    h3 {
        font-size: 150%;
        color: rgb(99, 113, 108);
        margin: 0.5rem auto 0.5rem auto;
    }

    ul {
        list-style-type: circle;
    }
}

section {
    overflow: auto;
    margin-bottom: 2rem;

    &.home-firstgrid, &.home-secondgrid {
        display: flex;
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;       
        
        @media screen and (max-width: 1600px) {
                &.home-firstgrid {
                    max-width: 798px;
                    margin: auto;
                }
            }
        
        @media screen and (max-width: 1100px) {
            &.home-secondgrid {
                max-width: 598px;
                margin: auto;
            }
        }

        @media screen and (max-width: 530px) {
            &.home-firstgrid, &.home-secondgrid {
                justify-content: center;
            }
        }

        article {
            display: flex;
            flex: 0 0 20rem;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;

            img {
                max-width: 100%;
                display: block;
                margin: auto;
            }

            p {
                margin: auto;
                text-align: center;
            }
        }
    }

    &.allpost-grid {
        display: flex;
        padding: 1rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: center;

        article {
            display: flex;
            flex: 0 0 20rem;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            margin-right: 5rem;
    
            img {
                max-width: 100%;
                display: block;
                margin: auto;
            }
        }
    }
} 

/* the styles for the footer */
footer {
    margin: 0;
    padding: 1rem;
    background-color: #d1d1d1;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        a {
            margin-right: 2rem;
            color: rgb(107, 107, 107);
        }
        
    }

    p {
    font-size: 75%;
    text-align: center;
    color: $color-white;
    }
}
