/* the styles for the elements */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,500&family=Roboto&display=swap');

$color-white: #fff;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    padding: 20px;
    background-color: $color-white;
}

/* the styles for the slicknav menu crap*/
/* the styles for the header */
header {
    img {
        max-width: 250px;
        display: block;
        margin: auto;
    }

    #mobile_menu {
        display: none;
    }

    #nav_menu {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            list-style-type: none;
            padding: 0em 0;
            text-align: center;
            border-top: 2px solid #10FFCD;
            border-bottom: 2px solid #10FFCD;

            li {
                float: left;
                display: inline;
                padding: 0 1.5em;

                a {
                    font-family: 'Roboto';
                    font-size: medium;
                    text-align: center;
                    display: block;
                    max-width: 150px;
                    padding: 0.5em 0;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;

                    .current {
                        color: #10FFCD;
                        border-bottom: 2px solid #10FFCD;
                    }

                    :hover {
                        border-bottom: 2px solid #10FFCD;
                        padding: .5em 0;
                    }
                }
            }
        }
    }

    @media only screen and (max-device-width: 796px), screen and (max-width: 796px) {
        #nav_menu {
            display: none;
        }

        #mobile_menu {
            display: block;
        }
    }
}





/* the styles for the main content */
main {
    clear: left;
    width: 80vw;
    margin: auto;

    /*this is for the home page grid items*/
    .home-whatislbhr {
        float: left;
        max-width: 200px;
    }

    #aboutvicki {
        padding: 20px;
        border-radius: 5px;

    }

    #aboutvicki img {
        max-width: 200px;
        display: block;
        margin-right: 30px;
        float: left;
    }

    #aboutvicki ul li {
        list-style-position: inside;
    }

    #handshake img {
        max-width: 250px;
        display: block;
        margin-left: 30px;
        float: right;
    }

    #everyone img {
        max-width: 250px;
        display: block;
        margin-right: 30px;
        float: left;
    }


    #magnifyingglass img {
        max-width: 100px;
        display: block;
        margin-right: 30px;
        float: left;
    }

    #contactus img {
        max-width: 250px;
        display: block;
        margin: auto;
    }

    #contactus {
        text-align: center;
    }

    h1 {
        font-size: 200%;
        color: black;
        margin: 5px auto 5px auto;
    }

    h3 {
        font-size: 150%;
        color: rgb(99, 113, 108);
        margin: 5px auto 5px auto;
    }

    ul {
        list-style-type: circle;
    }
}

section {
    overflow: auto;
    margin-bottom: 20px;

    &.home-firstgrid, &.home-secondgrid {
        display: flex;
        padding: 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;       
        
        @media screen and (max-width: 1600px) {
                &.home-firstgrid {
                    max-width: 798px;
                    margin: auto;
                }
            }
        
        @media screen and (max-width: 1100px) {
            &.home-secondgrid {
                max-width: 598px;
                margin: auto;
            }
        }

        @media screen and (max-width: 530px) {
            &.home-firstgrid, &.home-secondgrid {
                justify-content: center;
            }
        }

        article {
            display: flex;
            flex: 0 0 200px;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;

            img {
                max-width: 100%;
                display: block;
                margin: auto;
            }

            p {
                margin: auto;
                text-align: center;
            }
        }
    }
} 

/* the styles for the footer */
footer p {
    font-size: 75%;
    text-align: right;
    padding-top: 20px;
}