/* the styles for the elements */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,500&family=Roboto&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  margin: 0;
}

/* the styles for the slicknav menu crap*/
/* the styles for the header */
.menu-container {
  display: grid;
  border-bottom: 0.2rem solid #10FFCD;
}

a.logo {
  display: block;
  background-color: #fff;
  position: sticky;
  top: -2rem;
}
a.logo img {
  max-width: 25rem;
  display: block;
  margin: auto;
}

#mobile_menu {
  display: none;
}

#nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid #10FFCD;
}
#nav_menu ul {
  list-style-type: none;
  padding: 0em 0;
  text-align: center;
}
#nav_menu ul li {
  float: left;
  display: inline;
  padding: 0 1.5em;
}
#nav_menu ul li a {
  font-family: "Roboto";
  font-size: medium;
  text-align: center;
  display: block;
  max-width: 15rem;
  padding: 0.5em 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#nav_menu ul li a.current {
  color: #10FFCD;
  border-bottom: 0.2rem solid #10FFCD;
}
#nav_menu ul li a:hover {
  border-bottom: 0.2rem solid #10FFCD;
  padding: 0.5em 0;
}

@media only screen and (max-device-width: 796px), screen and (max-width: 796px) {
  #nav_menu {
    display: none;
  }
  #mobile_menu {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    position: sticky;
    margin-top: -9rem;
    top: 0px;
    left: 80rem;
    font-size: 1.2rem;
  }
  #mobile_menu ul {
    background-color: #fff;
    margin-left: 20rem;
  }
  a.logo img {
    max-width: 18rem;
    margin-left: 2rem;
  }
  main #aboutvicki img {
    margin: auto;
  }
}
/* the styles for the main content */
main {
  /*this is for the home page grid items*/
}
main .home-whatislbhr {
  float: left;
  max-width: 20rem;
}
main .blogpics {
  max-width: 50rem;
  width: 100%;
}
main .centered {
  margin: auto;
  display: block;
}
main #aboutvicki {
  padding: 2rem;
  border-radius: 0.5rem;
}
main #aboutvicki img {
  max-width: 20rem;
  display: block;
  margin-right: 3rem;
  float: left;
}
@media only screen and (max-device-width: 796px), screen and (max-width: 796px) {
  main #aboutvicki img {
    float: none;
    margin: auto;
  }
}
main #aboutvicki ul li {
  list-style-position: inside;
}
main #handshake img {
  max-width: 25rem;
  display: block;
  margin-left: 3rem;
  float: right;
}
main #everyone img {
  max-width: 25rem;
  display: block;
  margin-right: 3rem;
  float: left;
}
main #magnifyingglass img {
  max-width: 10rem;
  display: block;
  margin-right: 3rem;
  float: left;
}
main #contactus img {
  max-width: 25rem;
  display: block;
  margin: auto;
}
main #contactus {
  text-align: center;
}
main h1 {
  font-size: 200%;
  color: black;
  margin: 2rem auto;
}
main h3 {
  font-size: 150%;
  color: rgb(99, 113, 108);
  margin: 0.5rem auto 0.5rem auto;
}
main ul {
  list-style-type: circle;
}
main p {
  line-height: 3rem;
}

.firstgrid-container {
  background-color: #faf8f6;
  max-width: 1150px;
  border-radius: 3rem;
  box-shadow: 10px 10px 5px rgba(92, 92, 92, 0.3215686275);
  margin: auto;
}
@media screen and (max-width: 1150px) {
  .firstgrid-container {
    border-radius: 0;
  }
}

section {
  overflow: auto;
  margin: 5rem auto;
  width: min(90%, 600px);
  /*First welcome card*/
}
section.welcome-card {
  background-color: rgba(199, 228, 225, 0.6117647059);
  box-shadow: 10px 5px 5px rgba(92, 92, 92, 0.3215686275);
}
section.welcome-card h1, section.welcome-card p {
  margin: 2rem;
}
section.welcome-card .card-hr {
  width: 100px;
  border: none;
  margin: 3rem;
  height: 5px;
  background-color: #10FFCD;
}
section.firstgrid-header {
  margin-bottom: 0.5rem;
}
section.firstgrid-header h1 {
  margin-top: 5rem;
}
section.home-firstgrid {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: inset 10px 5px 5px rgba(92, 92, 92, 0.3215686275);
  margin-top: 0.5rem;
}
section.home-firstgrid, section.home-secondgrid {
  display: grid;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}
@media screen and (max-width: 1600px) {
  section.home-firstgrid.home-firstgrid, section.home-secondgrid.home-firstgrid {
    max-width: 798px;
  }
}
@media screen and (max-width: 1100px) {
  section.home-firstgrid.home-secondgrid, section.home-secondgrid.home-secondgrid {
    max-width: 598px;
    margin: auto;
  }
}
@media screen and (max-width: 530px) {
  section.home-firstgrid.home-firstgrid, section.home-firstgrid.home-secondgrid, section.home-secondgrid.home-firstgrid, section.home-secondgrid.home-secondgrid {
    justify-content: center;
  }
}
section.home-firstgrid article, section.home-secondgrid article {
  display: flex;
  flex: 0 0 20rem;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
section.home-firstgrid article img, section.home-secondgrid article img {
  max-width: 100px;
  margin-left: 3rem;
}
section.home-firstgrid article p, section.home-secondgrid article p {
  font-style: italic;
}
section.allpost-grid {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}
section.allpost-grid article {
  display: flex;
  flex: 0 0 20rem;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 5rem;
}
section.allpost-grid article img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* the styles for the footer */
footer {
  margin: 0;
  padding: 1rem;
  background-color: #d1d1d1;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
footer nav a {
  margin-right: 2rem;
  color: rgb(107, 107, 107);
}
footer p {
  font-size: 75%;
  text-align: center;
  color: #fff;
}/*# sourceMappingURL=main.css.map */